# Root .dockerignore when building with -f docker/Dockerfile.* from repo root
.git
.gitignore
**/node_modules
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
*.md
.cursor
.idea
*.log
